<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Username Validator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'validation/css/mystyles.css' %}">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <p>Usernames entered:</p>
    {% if users %}
      <ul class="list-users">
        {% for user in users %}
          <li>
            <p class="usernames">{{user.username}}</p>
            <p class="created-date">{{user.created_at}}</p>
            <a href="/delete/{{user.id}}">Delete</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="/">Go back</a>
  </body>
</html>
