* {
    margin: 0px;
    padding: 0px;
    background-color: #dad8d7;
}

p {
    text-align: center;
    margin: 40px auto;
    font-size: 2em;
}

h1 {
    text-align: center;
    margin: 0px auto;
    font-size: 4em;
    color: #622f53;
    border: 2px solid #622f53;
    border-radius: 75px;
    width: 40%;
    padding: 25px 25px;
}
