<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
    </head>
    <body>
        <div id="score">
            <h2>Your Gold</h2>
            <p>{{session['gold']}}</p>
        </div>
        <form action="/reset" method="post">
            <button type="submit" name="reset">Reset</button>
        </form>
        <div id="main">
            <div class="locations">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                  <input type="hidden" name="building" value="farm" />
                  <button type="submit" name="button">Find Gold</button>
                </form>
            </div>
            <div class="locations">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <button type="submit" name="button">Find Gold</button>
                </form>
            </div>
            <div class="locations">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <button type="submit" name="button">Find Gold</button>
                </form>
            </div>
            <div class="locations">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <button type="submit" name="button">Find Gold</button>
                </form>
            </div>
        </div>
        <h4>Activites</h4>
        <br>
        <div id="activity">
        {% for each in session['log'] %}
            {% if each[1] == True: %}
                <p class="gain">{{each[0]}}</p>
            {% else: %}
                <p class="loss">{{each[0]}}</p>
            {% endif %}
        {% endfor %}
        </div>
    </body>
</html>
