<html>
<head>
    <title>Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Full Friends</h1>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in all_friends: %}
                <tr>
                    <td>{{ friend['first_name'] }}</td>
                    <td>{{ friend['last_name'] }}</td>
                    <td>{{ friend['email_address'] }}</td>
                    <td>
                        <form class="editdelete" action="/friends/{{friend['id']}}/edit" method="get">
                            <button type="submit" name="edit">Edit</button>
                        </form>
                        <form class="editdelete" action="/friends/{{friend['id']}}/delete" method="post">
                            <button type="submit" name="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% with messages = get_flashed_messages() %}
        {% for each in messages: %}
        <p>{{each}}</p>
        {% endfor %}
        {% endwith %}
        <form action='/friends' method='POST'>
            <div id="entry">
                <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
                <br>
                <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
                <br>
                <label for="email">Email:<input type="email" name="email" id="email"></label>
                <button type="submit" name="button">Add Friend</button>
            </div>
        </form>
    </div>
</body>
</html>
