* {
    margin: auto;
    padding: 0px;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.box {
    padding: 110px 0px;
    width: 250px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
}
#wrong {
    background-color: red;
}

#correct {
    background-color: green;
}

#win {
    position: relative;
    bottom: 50px;
}

#no_win {
    display: none;
}
